header, #first-section { 
    background: #ffc107;
}


.underline { 
    border-bottom: 1px solid gainsboro;
}

footer .foot{ 
    text-align: center;
}

footer ul li{ 
    display: inline;
}

li { 
    list-style-type: none; 
}

